{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="panel panel-primary panel-center">
            <div class="panel-heading">
                <h3 class="panel-title">Importeren</h3>
            </div>
            <div class="panel-body">
                {% include ('::flash-messages.html.twig') %}
                {#<form action="#" method="post" enctype="multipart/form-data">
                    Selecteer Excel bestand:
                    <input type="file" onchange="$('#upload-file-info').html(this.files[0].name)" accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="excelFile" id="excelFile">
                    <button  name="submit" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-upload"></span> Importeren</button>
                </form>#}
                <div class="col-lg-6 col-sm-6 col-12">
                    <h4>Importeren</h4>
                    <form action="#" method="post" enctype="multipart/form-data">
                        <div class="input-group">
                            <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Bladeren&hellip; <input type="file" style="display: none;" accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="excelFile" id="excelFile" >
                    </span>
                            </label>
                            <input type="text" class="form-control" readonly>
                        </div>
                        <button  name="submit" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-upload"></span> Importeren</button>
                    </form>

                    <span class="help-block">
                Selecteer een Excel bestand om te importeren.
            </span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
