{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="panel panel-primary panel-center">
            <div class="panel-heading">
                <h3 class="panel-title">Importeren</h3>
            </div>
            <div class="panel-body">
                {% include ('::flash-messages.html.twig') %}
                <div class="col-lg-6 col-sm-6 col-12">
                    <h4>Importeren</h4>
                    <form action="#" method="post" enctype="multipart/form-data">
                        <div class="input-group">
                            <input type="text" class="form-control" id="upload-file-info" readonly>
                            <label class="input-group-btn">
                                <span class="btn btn-default">
                                 Bladeren&hellip; <input onchange="$('#upload-file-info').val($(this).val());" type="file" style="display: none;" accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="excelFile" id="excelFile" >
                                </span>
                                <button  name="submit" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-upload"></span> Importeren</button>
                            </label>
                        </div>
                    </form>
                    <span class="help-block">Selecteer een Excel bestand (.xls of .xlsx) om te importeren.</span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
